.flex {
	display: flex;
	width: 100%;
	margin top: 20px;
	margin-bottom: 20px;
	margin-right: 0;
	margin-left: 0;
}

.space-around {
	justify-content: space-around;
}

.space-between {
	justify-content: space-between;
}

.flex-end {
	justify-content: flex-end;
}

.flex-vertical {
	display: flex;
	height: 400px;
	flex-direction: column;
}

.flex-start {
	justify-content: flex-start;
}

.white-background {
	background-color: #f4f8ff;
	width: 800px;
	height: 1000px;
}

.center {
	justify-content: center;
}

.center-text {
	text-align: center;
}

.body {
    font: normal 40px Futura, Arial black, sans-serif;
    margin-top: -300px;

}

h1 {
	font-family: futura;
	color: #4286f4;
	font-size: 13px;
	width: 200px;
	height: 1000px;

}

p {
	width: 200px;
	z-index: 100;
}

img {
	width: 600px;
	position: absolute;
	top: 25px;
	transform: translate(500px, 30px);
}

.text {
	position: absolute;
	left: 100px;
	top: 100px;
}

.red-text {
	color: red;
}

.absolute {
	position: absolute;
}

.absolute-1 {
	position: absolute;
	margin-top: -800px;
	margin-left: 200px;
}

.absolute-2 {
	position: absolute;
	margin-top: -600px;
	margin-left: 400px;
}

.absolute-3 {
	position: absolute;
	margin-top: -400px;
	margin-left: 600px;
}

.absolute-4 {
	position: absolute;
	margin-top: -990px;
	margin-left: 400px;
}

.absolute-5 {
	position: absolute;
	margin-top: -800px;
	margin-left: 600px;
}

.absolute-6 {
	position: absolute;
	margin-top: -600px;
	margin-left: 0px;
}

.absolute-7 {
	position: absolute;
	margin-top: -400px;
	margin-left: 200px;
}

.absolute-8 {
	position: absolute;
	margin-top: -200px;
	margin-left: 400px;
}

.absolute-9 {
	position: absolute;
	margin-top: -200px;
	margin-left: 0px;
}

.arrow {
	color: red;
	font-family: futura;
	position: absolute;
	margin-top: 10px;
	margin-left: 10px;
	font-size: 15px;
}

.circle {
	background-color: white;
	position: absolute;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	border: 3px solid white;
	margin-top: -110px;
	margin-left: 690px;
}